{% extends 'base.html' %}
{% load static %}

{% block title %}lista de {{ dono_perfil.user.username }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios/lista_perfil.css' %}" />
{% endblock %}

{% block content %}
<div id="sub_main">
    
    <!-- Bloco receitas todas as receitas -->
    <div class="bloco">

        <!-- Sobre o bloco -->
        <div class="sobre">
            <a href="{% url 'usuarios:perfil' username=dono_perfil.user.username %}">
                <div id="botao_voltar">← Voltar para o Perfil</div>
            </a>
            {% if modo_favoritos %}
                {% if dono %}
                    <h2>Todas as suas receitas favoritas</h2>
                {% else %}
                    <h2>Todas as receitas favoritas de {{ dono_perfil.user.username }}</h2>
                {% endif %}
            {% else %}
                {% if dono %}
                    <h2>Todas as suas receitas</h2>
                {% else %}
                    <h2>Todas as receitas públicas de {{ dono_perfil.user.username }}</h2>
                {% endif %}
            {% endif %}
        </div>
        
        <!-- Espaço q fica os cards das receitas -->
        <div class="itens">
            {% for receita in receitas %}
                <a href="{% url 'receitas:detalhe_receita' receita.id%}">

                    <!-- Card da receita -->
                    <div class="item">

                        <!-- Imagem do card -->
                        <div class="imagem_receita">
                            {% with midia=receita.midias.first %}
                                {% if midia and midia.tipo == 'IMAGEM' %}
                                    <img src="{{ midia.arquivo.url }}" alt="Imagem de {{receita.nome}}">
                                {% else %}
                                    <img src="{% static 'img/home/ErrorDonut_by_freepik.jpg' %}" alt="Erro carregamento imagem">
                                {% endif %}
                            {% endwith %}
                        </div>

                        <!-- Informações do card -->
                        <div class="informacao_receita">
                            <strong>{{ receita.nome }}</strong>
                            <ul>
                                <li class="lista_categoria">Categorias:
                                    {% for categoria in receita.categorias.all %}
                                        <span class="item_categoria">{{ categoria.nome }}</span>
                                        {% if not forloop.last %}/{% endif %}
                                    {% endfor %}
                                </li>
                                <li>Tipo: {{ receita.get_tipo_display }}</li>
                                <li>Duração: {{ receita.tempo_preparo }} minuto(s)</li>
                            </ul>
                        </div>

                    </div>

                </a>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}