{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil: {{ dono_perfil.user.username }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/usuarios/perfil.css' %}" />
{% endblock %}

{% block content %}
<div id="sub_main">
    
    <!-- Exibe as mensagens do Django -->
    {% if messages %}
        <div class="mensagens_alerta_container">
            {% for message in messages %}
                <div class="alerta alerta_{{ message.tags }}">
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Bloco com as informações do usuario -->
    <div id="bloco_informacoes">
        <div id="dados">
            <h2>Perfil de {{ dono_perfil.user.username }}</h2>
            <p><strong>E-mail: </strong>{{ dono_perfil.user.email }}</p>
            <p><strong>Tipo de Usuário: </strong>{{ dono_perfil.get_tipo_display }}</p>
            <p><strong>Total de Receitas: </strong>{{receitas_publicas|length}} (Públicas)
                {% if dono %}
                    e {{receitas|length}} (Total)
                {% endif %}
            </p>
        </div>
        {% if dono %}
            <div id="acao">
                <a href="{% url 'receitas:criar_receita' %}" class="botao_criar">
                    <button>Criar Nova Receita ➕</button>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- Bloco receitas mais recentes -->
    <div class="bloco">
        <!-- sobre o bloco -->
        <div class="sobre">
            {% if dono %}
                <h2>Suas receitas mais recentes</h2>
            {% else %}
                <h2>Mais recentes públicas</h2>
            {% endif %}
        </div>
        <!-- Espaço q fica os cards das receitas -->
        <div class="itens">
            {% for receita in novas_receitas %}
                <a href="{% url 'receitas:detalhe_receita' receita.id%}">
                    <!-- Card da receita -->
                    <div class="item">
                        <!-- Imagem do card -->
                        <div class="imagem_receita">
                            {% with midia=receita.midias.first %}
                                <img src="{{ midia.arquivo.url }}" alt="Imagem de {{receita.nome}}">
                            {% endwith %}
                        </div>
                        <!-- Informações do card -->
                        <div class="informacao_receita">
                            <strong>{{ receita.nome }}</strong>
                            <ul>
                                <li class="lista_categoria">Categorias:
                                    {% for categoria in receita.categorias.all %}
                                        <span class="item_categoria">{{ categoria.nome }}</span>
                                        {% if not forloop.last %}/{% endif %}
                                    {% endfor %}
                                </li>
                                <li>Tipo: {{ receita.get_tipo_display }}</li>
                                <li>Duração: {{ receita.tempo_preparo }} minuto(s)</li>
                            </ul>
                        </div>
                    </div>
                </a>
            {% endfor %}
            <!-- Card q leva para todas as receitas -->
            <a href="{% url 'usuarios:lista_perfil' username=dono_perfil.user.username %}">
                <div class="item">
                    <p>=></p>
                    <p>Ver mais</p>
                </div>
            </a>
        </div>
    </div>

</div>
{% endblock %}