:root {
    --cor_texto_hover_base: white;
    --cor_fundo_hover_base: #6B3E2E;
    --cor_fundo_footer_header_base: rgb(110, 61, 61);
    --cor_texto_base: #F8D5A3;
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 110px;
}

h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    color: var(--cor_texto_base);
}

a:hover {
    color: var(--cor_texto_hover_base);
}

header button:hover {
    color: var(--cor_texto_hover_base);
    background-color: var(--cor_fundo_hover_base);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
    transition: all 0.2s ease;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub_header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 99%;
    max-width: 1260px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cor_fundo_footer_header_base);
    margin: 10px auto;
    box-sizing: border-box;
    flex-wrap: wrap;
}

#logo {
    height: 100px;
}

#bloco_logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#bloco_pesquisa {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

#bloco_pesquisa > * {
    border-radius: 10px;
    gap: 5px;
}

#bloco_conta {
    padding-right: 15px;
}

#bloco_conta button {
    padding: 5px;
    border-radius: 10px;
}

footer {
    position: static;
    margin-top: 40px;
    width: 100%;
    margin-top: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cor_fundo_footer_header_base);
    color: var(--cor_texto_base);
    font-size: small;
    line-height: 5px;
    padding: 5px 0 5px 0;
    height: 74px;
}

#bloco_pesquisa form button, form input{
    padding: 5px;
    border-radius: 10px;
}