:root {
    --cor_fundo_tela: #FCF5E3;
    --cor_fundo_bloco_central: #6B3E2E;
    --cor_texto_sobre: white;
    --cor_fundo_card: #795252;
    --cor_texto_card: #F8D5A3;
    --cor_fundo_card_hover: #F8D5A3;
    --cor_texto_card_hover: #333;
    --cor_fundo_imagem: white;
}

body {
    background-color: var(--cor_fundo_tela);
    overflow-x: hidden;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub_main {
    width: 99%;
    max-width: 1260px;
    min-height: 702px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px auto;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.2);
    border: 1px solid black;
    background-color: var(--cor_fundo_bloco_central);
    border-radius: 20px;
}

#bloco_informacoes {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    color: var(--cor_texto_sobre); 
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

#dados {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

#dados p {
    margin: 5px 0;
    font-size: 1.1em;
}

#dados strong {
    font-weight: bold;
}

#bloco_informacoes button {
    background-color: var(--cor_fundo_card);
    color: var(--cor_texto_card);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
    white-space: nowrap;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border: 1px solid var(--cor_texto_card_hover);
    margin: 20px;
    cursor: pointer;
}

#bloco_informacoes button:hover {
    background-color: var(--cor_fundo_card_hover);
    color: var(--cor_texto_card_hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#dados h2 {
    margin: 0 0 10px 0;
    font-family: 'Merriweather', serif;
    font-size: 2em;
}

.bloco {
    width: 100%;
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.sobre {
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    color: var(--cor_texto_sobre);
}

.sobre h2 {
    margin: 0;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
}

.itens {
    height: 275px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.item {
    color: var(--cor_texto_card);
    height: 275px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: var(--cor_fundo_card);
    border-radius: 10px;
    transition: all 0.3s ease;
    overflow: hidden;
}

.item:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
    background-color: var(--cor_fundo_card_hover);
    color: var(--cor_texto_card_hover);
    transform: translateY(-5px);
}

.item p {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.imagem_receita {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88%;
    height: 50%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid black;
    background-color: var(--cor_fundo_imagem);
    overflow: hidden;
}

.imagem_receita img {
    width: 100%;
    height: 100%;
}

.informacao_receita {
    height: 50%;
    width: 100%;
    padding: 10px 0 0 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 0.75rem;
}

.informacao_receita strong {
    font-size: 0.85rem;
    display: block;
}

.informacao_receita ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.lista_categorias {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.item_categoria {
    white-space: nowrap;
}